### Q001. 아래 주어진 리스트 a로 set1이라는 이름의 집합을 만드세요.
### 출력도 해보세요.

In [1]:
a = [1,2,7,7]
set1 = set(a)
print(set1)

{1, 2, 7}

### Q002. 아래 주어진 단일 변수 a를 가지고 set2라는 이름의 집합을 만드세요.
### 출력도 해보세요.

In [2]:
a = 'banana'
set2 = set(a)
print(set2)

{'a', 'n', 'b'}

### Q003. 아래 주어진 집합 set3을 list1이라는 리스트로 만드세요.
### list1을 출력해 보세요.

In [3]:
set3 = set([1,3,5])
list1 = list(set3)
print(list1)

[1, 3, 5]

### Q004. 아래 주어진 set3을 tuple1 이라는 튜플로 만드세요.
### tuple1을 출력해보세요.

In [4]:
set3 = set([1,3,5])
tuple1 = tuple(set3)
print(tuple1)

(1, 3, 5)

### Q005. 아래와 같이 집합 set1과 set2가 주어질 때 교집합을 출력해 보세요.

In [5]:
set1 = set([1,3,5,7,9,11])
set2 = set([5,7,9,11,13,15])
set3 = set1&set2
print(set3)

{9, 11, 5, 7}

### Q006. 아래와 같이 집합 set1과 set2가 주어질 때 합집합을 출력하세요.

In [6]:
set1 = set([1,3,5,7,9,11])
set2 = set([5,7,9,11,13,15])
set3 = set1|set2
print(set3)

{1, 3, 5, 7, 9, 11, 13, 15}

### Q007. 아래와 같이 집합 set1과 set2가 주어질 때 차집합을 출력하세요.

In [7]:
set1 = set([1,3,5,7,9,11])
set2 = set([5,7,9,11,13,15])
set3 = set1-set2
print(set3)

{1, 3}

### Q008. 아래 주어진 집합 set1에 값 50을 추가하세요.

In [8]:
set1 = set([1,3,5,7,9,11])
set1.add(50)
print(set1)

{1, 3, 5, 7, 9, 11, 50}

### Q009. 아래 주어진 집합 set1에 list1의 값을 추가하세요.

In [9]:
set1 = set([1,3,5,7,9,11])
list1 = [200, 300, 400]
set1.update(list1)
print(set1)

{1, 3, 5, 7, 200, 9, 11, 300, 400}

### Q010. 아래 주어진 집합 set1에서 값 11을 제거하세요.

In [10]:
set1 = set([1,3,5,7,9,11])
set1.remove(11)
print(set1)

{1, 3, 5, 7, 9}